body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.top_bar {
  display: flex;
  padding: 0% 3% 0% 3%;
  width: auto;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.top_bar img {
  margin-top: 10px;
}

nav {
  width: 70%;

  text-align: center;
}

nav ul li {
  display: inline;
  font-size: 0.9rem;
  text-decoration: none;
  color: blue;
  list-style: none;
  margin-left: 5%;
}

nav ul li a {
  text-decoration: none;
}

#login {
  height: 500px;

  padding-top: 5%;
}

.reg_form {
  width: 40%;
  height: 300px;
  margin: auto;
}

.reg_form a {
  text-decoration: none;
}

input {
  width: 100%;
  height: 50px;
  margin-bottom: 5%;
  border: none;
  border-radius: 3px;
  /* font-size: small; */
}

input[type="email"] {
  background-color: #c3c3c3;
}

input[type="password"] {
  background-color: #c3c3c3;
}

button {
  background-color: #007bff;
  width: 100%;
  padding: 3% 0%;
  margin-bottom: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

#footer {
  padding: 1%;
  background-color: black;
  display: flex;
}

#address {
  width: 30%;
}

#newsletter {
  width: 40%;
  color: #ffffff;
}

#social {
  width: 30%;
  padding-left: 5%;
  color: #ffffff;
}
#newsletter input[type="email"] {
  margin-bottom: 1.5%;
  background-color: #ffffff;
}

#newsletter button {
  padding: 1.2rem 2rem;
  border: none;
  background-color: #007bff;
  color: #ffff;
  border-radius: 1%;
  transition: 0.3s ease-in-out;
  width: 100%;
}

#newsletter button:hover {
  background-color: blue;
  color: white;
}

#address {
  margin-left: 5%;
}
